body {
    overflow-x: hidden;
}

.single_gallery_item {
    width: 100%;
    display: inline-block;
    z-index: 3;
    position: relative;
    overflow: hidden
}

.single_gallery_item>img {
    width: 100%;

}

.gallery-hover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    left: 0;
    top: 0;
    background-color: #25499f;
    opacity: 0;
}

.single_gallery_item:hover .gallery-hover-overlay {
    opacity: 1;

}

.port-hover-text h4 {
    color: #fff;
    margin-bottom: 10px;
}

.port-hover-text>a {
    color: #fff;
    font-size: 15px;
}